.membership {
  display: -webkit-box;
  width: 100%;
  text-align: center;
  background-color: #e7e7e5; }
  @media only screen and (min-width: 750px) {
    .membership .wrapper {
      width: 100% !important;
      max-width: 1200px !important; } }
  .membership h2, .membership .ptp-title, .membership .ptp-most-popular {
    text-align: center;
    color: #000; }
  .membership .ptp-col {
    text-align: center;
    font-size: 14px; }
    @media only screen and (min-width: 750px) {
      .membership .ptp-col {
        width: 19.6%;
        margin-right: .5%; } }
    @media only screen and (max-width: 749px) {
      .membership .ptp-col {
        margin-bottom: 0px !important; } }
  .membership .ptp-box.most-popular {
    border: 2px solid #ffd761; }
    .membership .ptp-box.most-popular .ptp-header {
      padding-bottom: 10px !important; }
    .membership .ptp-box.most-popular .ptp-title {
      margin-bottom: 5px !important; }
  .membership .ptp-header {
    background-color: #545453;
    padding: 15px 0; }
  .membership .ptp-title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    color: #fff; }
  .membership .ptp-most-popular span {
    font-size: 12px;
    background-color: #D93068;
    padding: 3px 5px;
    color: #fff;
    border-radius: 4px;
    font-weight: 600;
    text-transform: uppercase; }
  .membership .ptp-item {
    background-color: #fff;
    padding: .9375em .5em;
    border-bottom: dotted 1px #ddd;
    color: #777;
    font-size: 16px;
    text-align: center;
    line-height: normal; }
    .membership .ptp-item.lastb {
      border-bottom: none; }
  .membership .ptp-cta {
    text-align: center;
    background-color: #fff;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-top: .25em;
    padding-bottom: .5em; }
    @media only screen and (max-width: 749px) {
      .membership .ptp-cta {
        padding-bottom: 1em; } }
  .membership a.ptp-button {
    width: 90%;
    letter-spacing: 3px;
    border-radius: 5px;
    padding: 1em 0;
    text-transform: uppercase;
    font-size: 1em;
    color: #fff;
    background-color: #157efb;
    margin: 0;
    border-style: solid;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    line-height: 1.3;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out; }
    .membership a.ptp-button:hover {
      background-color: #D93068;
      color: #fff; }

.mind-contact {
  padding-top: 40px; }
  .mind-contact .hc_info {
    width: 100% !important; }
  .mind-contact input[type="text"], .mind-contact select, .mind-contact textarea {
    width: 100% !important;
    box-sizing: border-box;
    Border: 1px solid #D93068;
    font-size: 18px !important;
    padding: 5px 2%;
    border-radius: 5px; }
  .mind-contact label, .mind-contact input[type="checkbox"] {
    font-size: 18px !important; }
  .mind-contact input[type="submit"] {
    color: #fff;
    background: #D93068;
    border-radius: 5px;
    padding: 5px 20px;
    display: block;
    transition: all 0.2s ease-in-out;
    border-color: transparent;
    font-size: 18px; }
    .mind-contact input[type="submit"]:hover {
      background: #ccc; }
  .mind-contact .hc-prospect-field {
    font-size: 14px; }
  .mind-contact div.healcode div.hc_footer {
    display: none !important; }

/*# sourceMappingURL=membership.css.map */
